@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #545454;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.container {
    height: 100vh
}

.card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 450px
}

.upper {
    height: 100px
}

    .upper img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px
    }

.user {
    position: relative
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%
}
#name{
    padding-top:40px;
    font-weight:bold;
    text-align:center;
}


button {
    text-align: center;
    background-color: forestgreen;
    margin: auto;
    color: white;
    padding:10px;
    padding-left: 50px;
    border: inset;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    opacity: 0.7;
}

    button:hover {
        opacity: 1;
        transition: 0.5s;
    }

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
}
